NEXT_PUBLIC_SITE_URL=https://www.poweredbyia.com
SITE_URL=https://www.poweredbyia.com
WHATSAPP_URL=https://wa.me/34911528753
CONTACT_EMAIL=poweredbyiaoficial@gmail.com
APP_VERSION=
MO_ADMIN_ENABLED=1
ADMIN_PASSWORD=
ADMIN_PIN=
MO_ADMIN_KEY=
RYS_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
