@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo galaxia global */
.bg-galaxy {
  background-image: url('/imagenes/fondo/tu-fondo.png');
}

body {
  @apply bg-gray-900 text-white font-sans;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dedede;
  }
}
